<div id="trailcamPane_{{trailcamId}}">
    <div data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-props="design:'sidebar', gutters:true, liveSplitters:true"
         style="width:100%;height:100%;">
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="splitter:false, region:'top'">
            <div id="trailcamTimeFilter_{{trailcamId}}"
                 data-dojo-type="ngw-trailcam/webmap/TrailcamTimeFilter/TrailcamTimeFilter"
                 data-dojo-props="trailcamId:{{trailcamId}}">
            </div>
            <button id="trailcamEditorBtn_{{trailcamId}}"
                    data-dojo-type="dijit/form/Button"
                    data-dojo-props="iconClass:'dijitIconEdit', showLabel: false"
                    title="{{gettext 'Dashboard'}}"
                    type="button">
                <script type="dojo/connect" data-dojo-event="onClick">
                    var win = window.open(ngwConfig.applicationUrl + '/trailcam/' + {{trailcamId}} + '/dashboard/', '_blank');
                    win.focus();
                </script>
            </button>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="splitter:false, region:'center'"
             style="">
            <div id="trailcamItemsPane_{{trailcamId}}"
                 data-dojo-type="ngw-trailcam/webmap/TrailcamItemsPane/TrailcamItemsPane"
                 data-dojo-props="trailcamId:{{trailcamId}}">
            </div>
        </div>
    </div>
</div>